* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Lato"; /*fonte escolhida para todo o site */
}

body {
    background-color: rgb(166, 101, 240); /*cor de fundo*/
    display: flex;justify-content: center; /*centralizar o container e justificar ao centro*/
    align-items: center; /*centralizar a calculadora ao centro*/
    min-height: 100vh; /*altura da tela do usuario*/
    color: #fff; /*cor de todos os textos*/
}

.hide{
    display: none !important; /*exibir apenas a calculadora e apos inserir os dados, exibir o resultado */
}

.container{
    min-width: 400px; /*quadrado em volta da calculadora*/
    min-height: 400px;
    background-color: rgb(116, 7, 179); /*cor do quadrado da calculadora*/
    padding: 2rem; /*afasta o conteudo do container das extremidades */
}

/*IMC CALC*/

#calc-container h2{
    text-align: center; /*alinha o titulo h2 ao centro*/
    margin-bottom: 2rem; /*afastar da margem*/
    font-size: 50px;
}

.form-inputs {
    display: flex; /*display flex*/
    flex-direction: column; /*coluna:um item a baixo do outro */
    justify-content: space-between; /*espaça igualmente os elementos */
}

.form-control {
    display: flex; /*display flex*/
    flex-direction: column; /*coluna:um item a baixo do outro */
    flex: 1; /* ocupa a largura maxima */
    margin-bottom: 1rem; /*afasta um elemento do outro*/
}

.form-control label {
    font-weight: bold; /*negrito*/
    margin-bottom: .6rem; /*afasta a  label do input*/
    color: #f0eaea; /*cor das labels altura e peso*/
    font-size: 25px; /*tam da font */
}

.form-control input {
    padding: 1rem 0.5rem; /*aumenta o tam do quadrado branco*/
}

.action-control {
    display: flex;
    justify-content: space-between; /*cada botao de um lado*/
    margin-top: 2rem; /*espacamento*/
    gap: 1rem; /*espacamento*/
}

button {
    text-transform: uppercase;
    padding: 1rem 1.5rem; 
    background-color: #f43636; /*cor dos botoes*/
    border: none; /*sem bordas */
    color: white; /*cor da fonte*/
    cursor: pointer; /*mudar o cursor quando estiver sob o botao*/
    opacity: 0.9; /*opacidade*/
    flex:1;
}

button:hover {
    opacity: 1; /*mudar a opacidade quando o cursor estiver sob o botao*/
}

#clear-btn {
    background-color: #444;
}

/*TABELA*/

#result-container {
    text-align: center; /*texto alinhado ao centro*/
    display: flex;
    flex-direction: column;
}
#imc-number {
    font-size: 2.4rem;
    margin-bottom: .6rem;

}

#imc-info {
    font-size: 1.4rem;
    color: #ccc;
}

#result-container h3 {
    margin-top: 1rem;
    color: #dfdfdf;

}

#imc-tabela {
    margin: 1.5rem 0; /*margem*/
    font-size: 0.8rem;


}

.table-cabecalho {
    font-weight: bold;
    color: #ccc;

}

.table-cabecalho,
.table-data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #444;
}

.table-cabecalho h4,
.table-data p {
    flex: 1;
}

.table-cabecalho h4:nth-child(3),
.table-data p:nth-child(3){
    max-width: 80px;

}

#botao-voltar {
    align-self: center; /*botao de voltar menor */

}

.good {
    color: #12db34;
}

.low {
    color: yellow;
}

.medium {
    color: orange;
}

.high {
    color: red;
}